"https://github.com/JetBrains/ideavim/wiki/%22ideajoin%22-examples
set ideajoin

set clipboard-=ideaput

" クリップボードの有効化
set clipboard+=unnamed

"　ESCをjjに置き換え　
inoremap jj  <Esc>

" エディタでのタブ移動を再割り当て
nnoremap gh gT
nnoremap gl gt

" 単語間の前後移動をスワップ
" nnoremap b w
" nnoremap w b

" 段落間移動をalt+j,kに置き換え
nmap <A-k> (
nmap <A-j> )
nmap <A-h> w
nmap <A-l> b

" シンボル定義場所へジャンプ
nnoremap gb :action GotoDeclaration<CR>
nnoremap gt :action Back<CR>

noremap o o<ESC>